.cta-button {
    transition: all 0.25s ease;
}

.cta-button:hover {
    filter: brightness(1.1);
    transform: scale(1.20);
    background-color: #003ba5 !important;
    /* blue-600 */
    color: white !important;
    border: none;
}